    <!-- end section-->
    <div class="clearfix"></div>
    
    <section class="sec-bpadding-2">
      <div class="container">
        <div class="row">
          <div class="text-box white padding-6">
            <div class="text-box-inner">
              <div class="col-xs-12 text-left">
                <h2><strong>Über mir</strong></h2>
                <div class="title-line-4 less-margin"></div>
              </div>
              <div class="clearfix"></div>
              <br/>
              <br/>
              <div class="col-md-6 bmargin"><img src="images/aboutme.png" alt="" class="img-responsive"/></div>
              <div class="col-md-6">
                <div class="text-box bmargin">
                  <h4 class="raleway">Ich bin ein Ungarn geborene Produkt Designer und arbeite als freelancer in Zürich.</h4>
                  <br/>
                  <p>Wenn Sie 15 jährige war fangt die Kunstschule  in Budapest an. Habe ich gemerkt, dass ich auf Code interessie, begann ich mich im Alter von 18 Jahren selbst die Entwickelung beizubringen. Dann paar Jahren und viel mehr Projects später heute ich bin Product Designer Webentwickler und Publischer in Medium.</p>
                  <br/>
                  <p>Nach der Eröffnung meine eigenen Freelance Karrier seit 4 jahre ich helfe für startups und kleinunternehmers Online Präsenz 
                    verbessern. Ich hatte die Ehre, im collaboration zusammenarbeiten mit Agenturen und IT Firmas auf der ganzem Europa, Produkte 
                    und Dienstleistung für Unternehmer wie Stadler,  <a href="https://ap-s.de/movies/">AP&S "WE ARE YOUR PARTNER" Film</a>
                    und <a href="https://www.marquardt.com/branchen/automotive/">Marquardt Automotive</a> zu prodizieren, um nur einige zu nennen.</p>
                </div>
              </div>
              <br />
              <h4 class="raleway">Meine Fähigkeiten</h4>
              <br />
              Als <strong>anerkannte Mediengestalterin </strong> mit specialization Konzeption und Visualisierung neben habe ich eine Weiterbildung zur <strong>Javascript  und PHP Developer </strong> absolviert. Meine Fähigkeiten zu verbessern besuche ich regelmäsig Online-Kursen. Einige dieser, an denen ich teilgenommen habe, umfassen <strong> Single Page Application ( React and Vue Beginners)</strong>. 
              <br />
              <br />
              <br />
              <div class="col-md-4 bmargin">
                <div class="text-box bmargin">
                  <h5 class="raleway"><li>Adobe Photoshop</li></h5>
                  <h5 class="raleway"><li>Adobe Illustrator</li></h5>
                  <h5 class="raleway"><li>Adobe Indesign</li></h5>
              </div>
            </div>
              <div class="col-md-4">
                <div class="text-box bmargin">
                  <h5 class="raleway"><li>HTML/ CSS</li></h5>
                  <h5 class="raleway"><li>Javascript</li></h5>
                  <h5 class="raleway"><li>jQuery</li></h5>
                  <h5 class="raleway"><li>JSON</li></h5>
                  <h5 class="raleway"><li>Database PHP und MySQL </li></h5>
                </div>
              <div class="clearfix"></div>
            </div>
            <div class="col-md-4">
              <div class="text-box bmargin">
                <h5 class="raleway"><li>Adobe Premier Pro</li></h5>
                <h5 class="raleway"><li>Adobe After Effects</li></h5>
                <h5 class="raleway"><li>Cinema 4D</li></h5>
                <h5 class="raleway"><li>Keyshot 9 Echtzeit Rendering</li></h5>
              </div>
            <div class="clearfix"></div>
          </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end section-->
