<!-- end section-->
<div class="clearfix"></div>

<section class="sec-bpadding-2">
  <div class="container">
    <div class="row">
      <div class="text-box white padding-6">
        <div class="text-box-inner">
          <div class="col-xs-12 text-left">
            <h2><strong>Neueste aus dem Blog</strong></h2>
            <div class="title-line-4 less-margin"></div>
          </div>
          <div class="clearfix"></div>
          <br />
          <br />
          <div class="col-md-6 col-sm-12 col-xs-12 bmargin"> <img href="https://medium.com/@zoeandreapeffer/how-building-swiss-trains-previsualization-project-62af0c91f21a" src="images/media/blog_01.png" alt="" class="img-responsive" />
            <div class="col-md-12 no-gutter">
              <div class="text-box padding-top-5">
                <h3 class=" raleway"><a href="https://medium.com/@zoeandreapeffer/how-building-swiss-trains-previsualization-project-62af0c91f21a">How Building Swiss Trains? Pre-Visualisation for Film</a></h3>
                <div class="blog-post-info"> <span><i class="fa fa-user"></i> By Zoe Peffer</span> <span><i class="fa fa-link"></i> medium.com</span> </div>
                <br />
                <div class="divider-line solid light"></div>
                <br />
                <p> Hithere, I’m sharing with you parts of the bigger previsualization project that was realized in the end.Previsualization is the visualizing of complex scenes in a movie before filming. The visual language of the fil is very industrial and modern.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 bmargin"> <img src="images/media/blog_04.png" alt="" class="img-responsive" />
            <div class="col-md-12 no-gutter">
              <div class="text-box padding-top-5">
                <h3 class=" raleway"><a href="https://medium.com/@zoeandreapeffer">Creating a Smoothie Cooking Recipe Database - Coming Soon</a></h3>
                <div class="blog-post-info"> <span><i class="fa fa-user"></i> By Zoe Peffer</span> <span><i class="fa fa-link"></i> medium.com</span> </div>
                <br />
                <div class="divider-line solid light"></div>
                <br />
                <p>Kommt bald...</p>
              </div>
            </div>
          </div>

          <div class="col-divider-margin-5"></div>
          <div class="col-md-6 col-sm-12 col-xs-12 bmargin"> <img href="https://medium.com/@zoeandreapeffer/animated-illustrations-the-easy-way-project-story-2150e5bae3d1" src="images/media/blog_03.png" alt="" class="img-responsive" />
            <div class="col-md-12 no-gutter">
              <div class="text-box padding-top-5">
                <h3 class="raleway"><a href="https://medium.com/@zoeandreapeffer/animated-illustrations-the-easy-way-project-story-2150e5bae3d1">Animated Illustrations the Easy Way - Project Story</a></h3>
                <div class="blog-post-info"> <span><i class="fa fa-user"></i> By Zoe Peffer</span> <span><i class="fa fa-link"></i> medium.com</span> </div>
                <br />
                <div class="divider-line solid light"></div>
                <br />
                <p> I’m sharing with you parts of the illustrated eCommerce platform project.The company is that eCommerce consulting services to its clients. I tried to implement the current goal of the company in this lading page</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 bmargin"> <img href="https://medium.com/@zoeandreapeffer/how-to-plan-and-design-app-project-story-33f3105887a0" src="images/media/blog_02.png" alt="" class="img-responsive" />
            <div class="col-md-12 no-gutter">
              <div class="text-box padding-top-5">
                <h3 class="raleway"><a href="https://medium.com/@zoeandreapeffer/how-to-plan-and-design-app-project-story-33f3105887a0">How To Plan And Design App -Project Story</a></h3>
                <div class="blog-post-info"> <span><i class="fa fa-user"></i> By Zoe Peffer</span> <span><i class="fa fa-link"></i> medium.com</span> </div>
                <br />
                <div class="divider-line solid light"></div>
                <br />
                <p>The app is designed to help your countryside vacation in “Little Village”, list the actual events that matter you, set programs for age-specific rates and categories by type.
                  Using the app can easily park and may know how to find local hotels, what to wear for the weather.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</section>
<!-- end section-->