    <!-- end section-->
    <div class="clearfix"></div>
    
    <section class="sec-bpadding-2">
      <div class="container">
        <div class="row">
          <div class="text-box white padding-6">
            <div class="text-box-inner">
              
          <div class="col-xs-12 text-left">
                <h2><strong>Lass uns in Verbindung bleiben!</strong></h2>
                <div class="title-line-4 less-margin"></div>
              </div>
              <div class="clearfix"></div>
              <br/><br/>


          <h6><strong>Zoe Peffer</strong></h6>
          <br />
          <strong></strong>
          <br />
          E-mail: <a href="mailto:peffer@zoedesign.de">email@example.com</a><br />
          Website: <a href="www.zoedesign.de">www.zoedesign.de</a>
          <div class="clearfix"></div>
        </div>
  <!--end section-->
  <div class="clearfix"></div>        
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end section-->
