<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<!--<![endif]-->
<!--<![endif]-->
<html lang="de">
<head>
<title>Zoe Design - Freelance Produkt Designerin, Specialist Konzeption und Visualisierung</title>
<meta charset="utf-8">
<!-- Meta -->
<meta name="keywords" content="" />
<meta name="author" content="">
<meta name="robots" content="" />
<meta name="description" content="" />

<!-- this styles only adds some repairs on idevices  -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Favicon -->
<link rel="shortcut icon" href="images/favicon.ico">

<!-- Google fonts - witch you want to use - (rest you can just remove) -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Stylesheets -->
<link rel="stylesheet" media="screen" href="js/bootstrap/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="js/mainmenu/menu.css" type="text/css" />
<link rel="stylesheet" href="css/default.css" type="text/css" />
<link rel="stylesheet" href="css/layouts.css" type="text/css" />
<link rel="stylesheet" href="css/shortcodes.css" type="text/css" />
<link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" media="screen" href="css/responsive-leyouts.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="js/cubeportfolio/cubeportfolio.min.css">
<link rel="stylesheet" type="text/css" href="css/Simple-Line-Icons-Webfont/simple-line-icons.css" media="screen" />
<link rel="stylesheet" href="css/et-line-font/et-line-font.css">
<link rel="stylesheet" href="css/colors/pink.css" />


</head>

<body>
<div class="site_wrapper">
  <div class="menu-main-3">
    <div id="header2">
      <div class="container">
        <div class="navbar red navbar-default yamm fulldark">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar-collapse-grid" class="navbar-toggle two"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a href="index.php?action=about" class="navbar-brand"><img src="images/logo.png" alt=""/></a> </div>
          <div id="navbar-collapse-grid" class="navbar-collapse collapse pull-right">
            <ul class="nav red navbar-nav">

              <li><a href="index.php?action=about" class="dropdown-toggle">Von mir</a></li>
              <li><a href="index.php?action=portfolio" class="dropdown-toggle">Portfolio</a></li>
              <li><a href="index.php?action=blog" class="dropdown-toggle">Blog</a></li>
              <li><a href="index.php?action=contact" class="dropdown-toggle">Kontakt</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end menu-->
  <div class="clearfix"></div>
  <div class="main-bg-2">
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="header-title-box-2">
              <h1 class="text-white title uppercase">Konzeption<br/>
                Visualisierung<br/>
                Produkt Design<span class="text-red">.</span></h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Content-->
    <!-- end section-->
      __#__CONTENT__#__
    <!-- end section-->
        <br/>
        <br/>
        <br/>
        <br/>
      </div>
    </div>

  </div>
  <!--end main bg-->
  
  <section class="sec-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-centered text-center">
          <div class="footer-holder bmargin">
            <div><img src="images/flogo.png" alt=""/></div>
            <h6>Willst du mit mir arbeiten oder einfach nur einen Kaffee trinken?<br/> Zürich on UX/ UI Meetups, oder nach vereibarung in Konstanz</h6>
            <span><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;<a href="mailto:peffer@zoedesign.de">peffer@zoedesign.de</a></span><br/>
            <br/>
            <br/>
            <div class="col-md-8 col-centered">
              <ul class=" social-icons-3 red">
                <li class="first"><a href="https://github.com/zoepeffer"><i class="fa fa-github"></i></a></li>
                <li><a href="https://dribbble.com/zoeandreapeffer"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="https://www.linkedin.com/in/zoe-peffer/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/pefferzoe/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://medium.com/@zoeandreapeffer"><i class="fa fa-medium"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!--end item --> 
        
      </div>
    </div>
  </section>
  <!--end item -->
  <div class="clearfix"></div>
  
  <div class="divider-line solid light"></div>
  <section class="section-copyrights section-white-2 sec-moreless-padding">
  <div class="container">
    <div class="row"> <span>© 2020 Privacy Policy All rights reserved. Self-coded by Zoe</span> </div>
  </div>
</div>
</div>
</section>
<!--end section-->
<div class="clearfix"></div>

<a href="#" class="scrollup dark"></a><!-- end scroll to top of the page-->
</div>
<!-- end site wraper --> 

<!-- ============ JS FILES ============ --> 

<script type="text/javascript" src="js/universal/jquery.js"></script> 
<script src="js/bootstrap/bootstrap.min.js" type="text/javascript"></script> 
<script src="js/mainmenu/customeUI.js"></script> 
<script type="text/javascript" src="js/cubeportfolio/jquery.cubeportfolio.min.js"></script> 
<script type="text/javascript" src="js/cubeportfolio/main-masonry.js"></script> 
<script src="js/scrolltotop/totop.js"></script> 
<script src="js/mainmenu/jquery.sticky.js"></script> 
 
<script src="js/scripts/functions.js" type="text/javascript"></script> 
<script type="text/javascript">
var a = $("#header2").offset().top;

$(document).scroll(function(){
    if($(this).scrollTop() > a)
    {   
       $('#header2').css({"background":"rgba(0, 0, 0, 0.7)"});
    } else {
       $('#header2').css({"background":"transparent"});

    }
});
</script>
</body>
</html>
