<!-- end section-->
<div class="clearfix"></div>

<section class="sec-bpadding-2">
  <div class="container">

    
    <div id="filters-container" class="cbp-l-filters-button red text-right">
      <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">Alle
        <div class="cbp-filter-counter"></div>
      </div>
      <div data-filter=".ui" class="cbp-filter-item">Ui
        <div class="cbp-filter-counter"></div>
      </div>
      <div data-filter=".visual" class="cbp-filter-item">Visual
        <div class="cbp-filter-counter"></div>
      </div>
      <div data-filter=".film" class="cbp-filter-item">Film
        <div class="cbp-filter-counter"></div>
      </div>
      <div data-filter=".kamera" class="cbp-filter-item">Foto
        <div class="cbp-filter-counter"></div>
      </div>
    </div>
    <br/><br/>
<div class="row">
      <div class="demo-full-width">
        <div id="grid-container" class="cbp">
          <div class="cbp-item identity ui"> <a href="images/media/app/app.png" class="cbp-caption cbp-lightbox" data-title="Little Village App<br>The app is designed to help your countryside vacation in “Little Village”, list the actual events that matter you, set programs for age-specific rates and categories by type.">
              <div class="cbp-caption-defaultWrap"> <img src="images/media/app/app.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Little Village App Design</div>
                    <div class="cbp-l-caption-desc">Design mit Figma</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item identity ui"> <a href="images/media/app/app-color.png" class="cbp-caption cbp-lightbox" data-title="Little Village App<br>Primärfarbe, Sekundärfarbe">
              <div class="cbp-caption-defaultWrap"> <img src="images/media/app/app-color.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Little Village App Design</div>
                    <div class="cbp-l-caption-desc">Primärfarbe, Sekundärfarbe</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item identity ui"> <a href="images/media/app/app-font.png" class="cbp-caption cbp-lightbox" data-title="Little Village App<br>Font Pacifico und Alegreya Sans">
              <div class="cbp-caption-defaultWrap"> <img src="images/media/app/app-font.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Little Village App Design</div>
                    <div class="cbp-l-caption-desc">Fonts</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item ui"> <a href="images/media/app/app-wireframe.png" class="cbp-caption cbp-lightbox" data-title="Little Village App<br>It maps features of your site, such as menus, buttons, and layouts.">
              <div class="cbp-caption-defaultWrap"> <img src="images/media/app/app-wireframe.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Little Village App Design</div>
                    <div class="cbp-l-caption-desc">Wireframe</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item ui"> <a href="images/media/app/app-1.png" class="cbp-caption cbp-lightbox" data-title="Little Village App<br>The app is designed to help your countryside vacation in “Little Village”, list the actual events that matter you, set programs for age-specific rates and categories by type.">
              <div class="cbp-caption-defaultWrap"> <img src="images/media/app/app-1.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Little Village App Design</div>
                    <div class="cbp-l-caption-desc">Hauptmenü und Seite Event</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item ui"> <a href="images/media/app/app-2.png" class="cbp-caption cbp-lightbox" data-title="Little Village App<br>The app is designed to help your countryside vacation in “Little Village”, list the actual events that matter you, set programs for age-specific rates and categories by type.">
              <div class="cbp-caption-defaultWrap"> <img src="images/media/app/app-2.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Little Village App Design</div>
                    <div class="cbp-l-caption-desc">Seite Hotels und Parking</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item visual"> <a href="images/media/wacom/illustration-stadler-1.png" class="cbp-caption cbp-lightbox" data-title="Pre-Visualisation für Stadler<br>Informative scene width aerial drone top view photo of the workstation.">
              <div class="cbp-caption-defaultWrap"> <img src="images/media/wacom/illustration-stadler-1.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Pre-Visualisation für Stadler</div>
                    <div class="cbp-l-caption-desc">Pre-Perspektive Drohne</div>
                  </div>
                </div>
              </div>
            </a> </div>

          <div class="cbp-item visual"> <a href="images/media/wacom/illustration-stadler-2.png" class="cbp-caption cbp-lightbox" data-title="Pre-Visualisation für Stadler<br>Welding is the most popular and most spectacular symbol of hard work.">
              <div class="cbp-caption-defaultWrap"> <img src="images/media/wacom/illustration-stadler-2.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Pre-Visualisation für Stadler</div>
                    <div class="cbp-l-caption-desc">Kamera Pre-Perspektive Stative </div>
                  </div>
                </div>
              </div>
            </a> </div>

          <div class="cbp-item ui"> <a href="images/media/web/ecommerce.gif" class="cbp-caption cbp-lightbox" data-title="E-commerce Platform<br>The company is that eCommerce consulting services to its clients. I tried to implement the current goal of the company in this lading page.">
              <div class="cbp-caption-defaultWrap"> <img src="images/media/web/ecommerce.gif" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">E-commerce Platform</div>
                    <div class="cbp-l-caption-desc">Animierte Webseite</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item ui"> <a class="cbp-caption cbp-lightbox" data-title="E-commerce Platform<br>Making of Film" href="https://www.youtube.com/watch?v=3RzfObDemzs">
              <div class="cbp-caption-defaultWrap"> <img src="images/media/web/ecommerce-sketch-2.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">E-commerce Platform</div>
                    <div class="cbp-l-caption-desc">Animierte Webseite</div>
                  </div>
                </div>
              </div>
            </a> </div>

          <div class="cbp-item ui"> <a href="images/media/web/ecommerce-sketch.png" class="cbp-caption cbp-lightbox" data-title="Classic Blue color is described by Pantone as “a reassuring presence instilling calm, confidence and connection. The opposite color is always complementary. blue -> orange.">
              <div class="cbp-caption-defaultWrap"> <img src="images/media/web/ecommerce-sketch.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">E-commerce Platform</div>
                    <div class="cbp-l-caption-desc">Illustration</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item ui"> <a href="images/media/web/ecommerce-illustration.png" class="cbp-caption cbp-lightbox" data-title="E-commerce Platform<br>Ilustration with an Wacom Intuos Tablet">
              <div class="cbp-caption-defaultWrap"> <img src="images/media/web/ecommerce-illustration.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">E-commerce Platform</div>
                    <div class="cbp-l-caption-desc">Animierte Webseite</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item film"> <a class="cbp-caption cbp-lightbox" data-title="Film Projekt<br>Special thanks go to <strong> Haffa Die Marke Foto- and Filmstudio </strong> that create this production team and guide my work! Congrats to everyone involved in this fun and rewarding projects!" href="https://www.youtube.com/playlist?list=PLEquoLsOh-M0ddoNcWTXu8aBMpr9F6fRf">
              <div class="cbp-caption-defaultWrap"> <img src="images/media/foto/foto-1.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Film Projekte</div>
                    <div class="cbp-l-caption-desc">Filmschnitt</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item kamera"> <a href="images/media/foto/foto-2.png" class="cbp-caption cbp-lightbox" data-title="Fotografie Emotinal<br>Tageslicht">
              <div class="cbp-caption-defaultWrap"> <img src="images/media/foto/foto-2.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Fotografie Emotinal</div>
                    <div class="cbp-l-caption-desc">Fotografie mit naturlicht</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item kamera"> <a href="images/media/foto/foto-3.png" class="cbp-caption cbp-lightbox" data-title="Fotografie Industrial<br>">
              <div class="cbp-caption-defaultWrap"> <img src="images/media/foto/foto-3.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Fotografie Industrial</div>
                    <div class="cbp-l-caption-desc">Bereich Indutrie und Produkt</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item kamera"> <a href="images/media/foto/foto-4.png" class="cbp-caption cbp-lightbox" data-title="Fotografie People<br>">
              <div class="cbp-caption-defaultWrap"> <img src="images/media/foto/foto-4.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Fotografie People</div>
                    <div class="cbp-l-caption-desc">People</div>
                  </div>
                </div>
              </div>
            </a> </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!--end section-->
<div class="clearfix"></div>
</div>
<!--end main bg-->